body
{
background-color:hsla(344, 56%, 89%, 0.486);
border: 2px solid red;
}
#a,
#b
{
border:2px solid red;
}
table
{
width:100%;
border:2px solid red;
}
.y
{
height:400px;
width:100%;
}
p
{
font-size:30px;
}
.head
{
font-size:45px;
}